.place__url-heading {
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #aaaaaa;
  letter-spacing: .2em;
  text-transform: uppercase;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
